.container {
  position: fixed;
  right: 0;
  z-index: 100;
  background-color: white;
  min-width: 160px;
  height: 0;
  overflow: hidden;
}

.button {
  all: unset;
  display: flex;
  align-items: center;
  border: 1px solid rgba(128, 128, 128, 0.474);
  padding: 1.2vh;
  background-color: rgba(238, 238, 238, 0.705);
  margin: 0;
  gap: 10px;
}

.animate {
  animation: grow 1s ease-in-out forwards;
}

@keyframes grow {
  0% {
    height: 0;
  }

  100% {
    height: 100%;
  }
}

.button:hover {
  background-color: white;
  cursor: pointer;
}
