.container {
  background-color: #024f4f;
  color: white;
  padding: 25px;
  width: 25vw;
  margin-top: 10vh;
  border-radius: 10px;
}

.container > h1 {
  font-size: 28px;
}

.container > p {
  margin-top: 5px;
  margin-bottom: 10px;
}

.button {
  color: white;
  background-color: black;
  width: 100%;
  padding: 10px;

  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all;
  transition-duration: 0.3s;
}

.button:hover {
  background-color: rgb(37, 37, 37);
}
